/*JMI:per totes les pagines*/
.flex{
    display: flex;
    flex-direction: row;
}

.index{
    border: 1px solid black;
    width: 100%;
    height: 1000px;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
 
}

/*JMI:per menu*/
.menu{
    width: 100%;
    height: 10%;
    border: 1px solid black;
    background-color: #03045e;
    align-content: center;
    justify-content: center;
    
}

.menu>h1{
    margin-top:0px ;
    display: flex;
    width: 15%;
    height: 100%;
}

.menu>h1>a{
    margin: 5%;
    color: white; 
    font-family: 'Roboto', sans-serif;
    text-align-last: center;
}

.actual{
    background-color: #0096c7;
}

/*JMI: per pagina 1*/
.home{
    background-image: url('../img/moon.jpg');
    background-size: cover;
    background-position: top center;
    border: 1px solid black;
    width: 100%;
    height: 80%;
    align-items: center;
    
}

.rectangle{
    width: 60%;
    height: 20%;
    background-color: rgba(0, 195, 255, 0.363);
    text-align-last: center;
    margin-left: 22%;
}

.rectangle>h1{
    margin-top: 0px;
    margin-bottom: 0px;
}
.rectangle>p>a{
    color: white;
    border: 2px solid #03045e;
    background-color: #03045e;
}

/*JMI:Per pagina 2*/
.imatges{
    background-image: url('../img/moon.jpg');
    background-size: cover;
    background-position: top center;
    width: 100%;
    height: 1000px;
    flex-wrap: wrap;
    align-content: center;
}

.imatges>div{
    width: 30%;
    height: 30%;
}

.imatge1{
    background-image: url('../img/moon1.jpg');
    background-size: cover;
    background-position: top center; 
}

.imatge2{
    background-image: url('../img/moon2.jpg');
    background-size: cover;
    background-position: top center; 
}

.imatge3{
    background-image: url('../img/moon3.jpg');
    background-size: cover;
    background-position: top center; 
}

.imatge4{
    background-image: url('../img/moon4.jpg');
    background-size: cover;
    background-position: top center; 
}

.imatge5{
    background-image: url('../img/moon5.jpg');
    background-size: cover;
    background-position: top center; 
}

.imatge6{
    background-image: url('../img/moon6.jpg');
    background-size: cover;
    background-position: top center; 
}

.imatge7{
    background-image: url('../img/moon7.jpg');
    background-size: cover;
    background-position: top center; 
}

.imatge8{
    background-image: url('../img/moon8.jpg');
    background-size: cover;
    background-position: top center; 
}

.imatge9{
    background-image: url('../img/moon9.jpg');
    background-size: cover;
    background-position: top center; 
}
/*JMI: Per pagina 3*/
.reserva{
    background-image: url('../img/moon.jpg');
    background-size: cover;
    background-position: top center;
    border: 1px solid black;
    width: 100%;
    height: 80%;
    align-items: center;
}

.formulari{
    width: 60%;
    height: 20%;
    background-color: rgba(0, 195, 255, 0.363);
    text-align-last: center;
    margin-left: 22%;
}


/* JMI:per fer-ho responsive */
@media screen and (max-width: 574px) {

    .flex{
        flex-direction: column;
    }

    .menu{
        height: 40%;
        align-items: center;
    }

    .rectangle{
        margin-top: 20%;
        margin-left: 8%;
    }
}

