
.flex{
    display: flex;
    flex-direction: row;
}

.index{
    border: 1px solid black;
    width: 100%;
    height: 700px;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
 
}

.menu{
    width: 100%;
    height: 10%;
    border: 1px solid black;
    background-color: #03045e;
    align-content: center;
    justify-content: center;
    
}

.menu>h1{
    margin-top:0px ;
    display: flex;
    width: 15%;
    height: 100%;
}

.menu>h1>a{
    margin: 5%;
    color: white; 
    font-family: 'Roboto', sans-serif;
    text-align-last: center;
}

.actual{
    background-color: #0096c7;
}

.home{
    background-image: url('../img/moon.jpg');
    background-size: cover;
    background-position: top center;
    border: 1px solid black;
    width: 100%;
    height: 80%;
    
}

.rectangle{
    width: 60%;
    height: 20%;
    background-color: rgba(0, 195, 255, 0.363);
   text-align-last: center;
}

.rectangle>h1{
    margin-top: 0px;
    margin-bottom: 0px;
}
.rectangle>p>a{
   
    border: 2px solid #03045e;
    background-color: #03045e;
}

/* Feim que la pagina a partir de 574px posi el menu en columnes en vez de files */
@media screen and (max-width: 574px) {

    .flex{
        flex-direction: column;
    }

    .menu{
        height: 40%;
        align-items: center;
    }


}